<app-navbar></app-navbar>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="container">
    <div class="row">
      <div class="col-4">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-4">
        <app-portrait></app-portrait>
        <app-vulnerabilities></app-vulnerabilities>
      </div>
      <div class="col-4">
        <app-journal-entry></app-journal-entry>
      </div>
    </div>
  </main>

</div>

<router-outlet></router-outlet>