<nav class="navbar navbar-expand-md navbar-default fixed-top">
    <div class="container-fluid">
        <img src="https://res.cloudinary.com/dayqxxsip/image/upload/v1614874105/App%20Images/Witcher%203%20Bestiary/witcher-3-logo_ctgdnv.jpg" style="height: 5%; width: 5%;" />
        <span class="navbar-brand">BESTIARY</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>