<div class="container text-center" 
    *ngIf="selectedMonster != null">
    <h5>VULNERABLE AGAINST:</h5>

    <div class="popover">
        <img src="https://res.cloudinary.com/dayqxxsip/image/upload/v1615028388/App%20Images/Witcher%203%20Bestiary/Weaknesses/moon-dust.png" 
            alt="" 
            class="item-image">

        <div class="popover-card">
            <div class="popover-section">
                <h5>BEAST OIL</h5>
                <h5>OIL</h5>
            </div>
        </div>
    </div>

    <img src="https://res.cloudinary.com/dayqxxsip/image/upload/v1615027900/App%20Images/Witcher%203%20Bestiary/Weaknesses/necrophage-oil.png" alt="..." class="item-image">
    <img src="https://res.cloudinary.com/dayqxxsip/image/upload/v1615027927/App%20Images/Witcher%203%20Bestiary/Weaknesses/insectoid-oil.png" alt="..." class="item-image">
    <img src="https://res.cloudinary.com/dayqxxsip/image/upload/v1615027927/App%20Images/Witcher%203%20Bestiary/Weaknesses/insectoid-oil.png" alt="..." class="item-image">
    <img src="https://res.cloudinary.com/dayqxxsip/image/upload/v1615027927/App%20Images/Witcher%203%20Bestiary/Weaknesses/insectoid-oil.png" alt="..." class="item-image">
    <img src="https://res.cloudinary.com/dayqxxsip/image/upload/v1615027927/App%20Images/Witcher%203%20Bestiary/Weaknesses/insectoid-oil.png" alt="..." class="item-image">
</div>
